body {
    font-family: Arial, sans-serif;
    background:linear-gradient(135deg, #153677, #4e085f);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background: rgb(75, 19, 85);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(240, 232, 232, 0.1);
    width: 400px;
    padding: 20px;
}

.quiz-header {
    margin-bottom: 20px;
}

.quiz-header h2 {
    margin: 0;
    font-size: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

button {
    background: #01000f;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background: #210531;
}